table,
th,
td {
    border: 1.2px solid;
    border-collapse: collapse;
    color: white;
}

#anchor {
    background-color: green;
}

#id {
    width: 60px;
    text-align: center;
}

#name {
    width: 400px;
    text-align: center;
}

#description {
    width: 500px;
    text-align: center;
}